<div th:fragment="cabecera">
	<header>
		<div id="cabecera_sup">
			<img src="imagenes/zapato/zapato.png" height="96px" width="96px">
	            <div>
	                <h1>Zapato Veloz</h1>
	                <h2>Tu tienda de ropa</h2>
	            </div>
	            <img src="imagenes/zapato/zapato.png" height="96px" width="96px">
	            </div>
	            
	            <div id="cabecera_inf">
				<a href="">
					<img src="imagenes/iconos/ico_face.png" height="32px" width="32px">
				</a>
				<a href="">
					<img src="imagenes/iconos/ico_twit.png" height="32px" width="32px">
				</a>
				<a href="">
	                <img src="imagenes/iconos/cerrar.png" height="32px" width="32px">
	            </a>
	      </div>
	 </header>
</div>


<div th:fragment="pie">
    <footer>
        <div id="footer_sup">
            <div id="footer_sup_izq">
                superizq<br>
                a<br>
                b<br>
            </div>
            
            <div id="footer_sup_der">
                superder<br>
                a<br>
                b<br>
            </div>

        </div>

        <div id="footer_inf">
            inferior
        </div>
    </footer>
</div>


<div th:fragment="menu">
	<nav>
		<a href="/mujer">Mujer</a>
	    <a href="/hombre">Hombre</a>
	    <a href="/infantil">Infantil</a>
	    <a href="/complementos">Complementos</a>
    </nav>
</div>